 <div id="shellcontainer">
	<div id="shellleft">
		<div align="right"><a href="/admin/exams/index"><b>Back</b></a></div><br>
<% form_for(:exam, @exam, :url => {:action=>'update',:id => @exam}) do |f| %>
 
<!--  <%= f.error_messages %>-->


<table  class="main_form" cellspacing="0" cellpadding="3" border="0" width="700">
	<tr><td align="center" colspan="2"><h3><font color="green">Edit New Exam</font></h3></td></tr>	
	<tr>
			<td colspan="2" align="center">
				<font size="-1" color="#ff0000">Note:Fields marked with(*)are compulsory. </font>
			</td>
		</tr>
	<tr><td align="right" valign="top" class="label"><strong>Exam Template Name<font face="Verdana" color="#e30102" size="-2">*</font> :</strong></td>
		<td>
			  <%= collection_select(:exam,:ExamTemplate_Id,@examtemplates,:ExamTemplate_Id,:TemplateName,{:prompt=>'Select examTempalate'}) %>
			   <font color="red"><%= error_message_on @exam,'ExamTemplate_Id'%></font>
			   <script type="text/javascript">
						var exam_ExamTemplate_Id = new LiveValidation('exam_ExamTemplate_Id',{onlyOnSubmit: true});
						exam_ExamTemplate_Id.add(Validate.Presence, {failureMessage: "Select ExamType Name!"})
		             </script>
		</td>
		</tr>		
		<tr><td align="right" valign="top" class="label"><strong>Exam Type<font face="Verdana" color="#e30102" size="-2">*</font> :</strong></td>
		<td>
			  <%= collection_select(:exam,:ExamType_Id,@examtypes,:id,:examtype,{:prompt=>'Select examType'}) %>
			  <font color="red"><%= error_message_on @exam,'ExamType_Id'%></font>
			  <script type="text/javascript">
						var exam_ExamType_Id = new LiveValidation('exam_ExamType_Id',{onlyOnSubmit: true});
						exam_ExamType_Id.add(Validate.Presence, {failureMessage: "Select ExamType!"})
		             </script>	
		</td>
	</tr>	
	<tr><td align="right" valign="top" class="label"><strong>Exam Name<font face="Verdana" color="#e30102" size="-2">*</font> :</strong></td>
		<td>
			<%= f.text_field :ExamName ,:size=>'45' ,:maxlength=>'30',:id=>'ExamName'%>
			<font color="red"><%= error_message_on @exam,'ExamName'%></font>
			
								<script type="text/javascript">
						var ExamName = new LiveValidation('ExamName',{onlyOnSubmit: true});
						ExamName.add( Validate.Presence);
					</script>
		</td>
	</tr>	
	<tr><td align="right" valign="top" class="label"><strong>In The Year<font face="Verdana" color="#e30102" size="-2">*</font> :</strong></td>
		<td>
			<%= f.text_field :InTheYear ,:size=>'45' ,:maxlength=>'4',:id=>'InTheYear'%>
			 <font color="red"><%= error_message_on @exam,'InTheYear'%></font>
			 
								 <script type="text/javascript">
						var InTheYear = new LiveValidation('InTheYear',{onlyOnSubmit: true});
						InTheYear.add( Validate.Presence);
						InTheYear.add( Validate.Numericality);
					</script>
		</td>		
	 </tr>	
	 <tr><td align="right" valign="top" class="label"><strong>In The Month<font face="Verdana" color="#e30102" size="-2">*</font> :</strong></td>
		<td>
			<%= f.text_field :InTheMonth ,:size=>'45' ,:maxlength=>'2',:id=>'InTheMonth'%>
			<font color="red"><%= error_message_on @exam,'InTheMonth'%></font>
			 
								<script type="text/javascript">
						var InTheMonth = new LiveValidation('InTheMonth',{onlyOnSubmit: true});
						InTheMonth.add( Validate.Presence);
						InTheMonth.add( Validate.Numericality);
					</script>
		</td>
	</tr>	
	<tr><td align="right" valign="top" class="label"><strong>Exam Status<font face="Verdana" color="#e30102" size="-2">*</font> : </strong></td>
		<td>			 
			 <%= radio_button :exam, :ExamStatus, '1' %>Enabled
			 <%= radio_button :exam, :ExamStatus, '0'%>Disabled
			 <font color="red"><%= error_message_on @exam,'ExamStatus'%></font>	
			 			 
		</td>
	</tr>	 
	 <tr><td align="right" valign="top" class="label"><strong>Number Of Days Scheduled<font face="Verdana" color="#e30102" size="-2">*</font> : </strong></td>
		<td>
			<%= f.text_field :NumDaysScheduled ,:size=>'45',:maxlength=>'4',:id=>'NumDaysScheduled' %>
			 <font color="red"><%= error_message_on @exam,'NumDaysScheduled'%></font>
			  
								<script type="text/javascript">
						var NumDaysScheduled = new LiveValidation('NumDaysScheduled',{onlyOnSubmit: true});
						NumDaysScheduled.add( Validate.Presence);
						NumDaysScheduled.add( Validate.Numericality);
					</script>
		</td>
	</tr>	
	<tr><td align="right" valign="top" class="label"><strong>Starting Date<font face="Verdana" color="#e30102" size="-2">*</font> :</strong></td>
		<td>
			<%= f.date_select :ExamStartDate ,:size=>'45',:id=>'ExamStartDate'%>
			 
					<script type="text/javascript">
						var ExamStartDate = new LiveValidation('ExamStartDate',{onlyOnSubmit: true});
						ExamStartDate.add( Validate.Presence);
					</script>
		</td>
	</tr>	
	<tr><td align="right" valign="top" class="label"><strong>Description :</strong></td>	
		<td>			  
			  <%= f.text_area :ExamDescription ,:rows=>"2" ,:cols=>"35",:id=>'description',:maxlength=>'240'%>
			  
								<script type="text/javascript">
						var description = new LiveValidation('description');
						description.add(  Validate.Length, { maximum: 240 } ,{failureMessage: "Must be less than 240 characters!"})
					</script>	
		</td>
	</tr>	
		<tr><td align="right" valign="top" class="label"><strong>Comments : </strong></td>	
		<td>
			 <%= f.text_area :comments ,:rows=>"2" ,:cols=>"35",:id=>'comments',:maxlength=>'1000'%>
			 
								<script type="text/javascript">
						var comments = new LiveValidation('comments');
						comments.add(  Validate.Length, { maximum: 1000 } )
					</script>	
		</td>
	</tr>		
	<tr><td colspan="2" align="center">
			 <%= f.submit "Update" %>
		</td>	 
	</tr>
	<tr><td colspan="2">&nbsp;</td></tr>
	</table>
<% end %>
 </div>
			<!--Related Information -->
			<% admin_relavant_info @exams do |sub|%>
			<a href="/admin/exams/show/<%=sub.id%>"><%=sub.ExamName%></a><br/>
				<% end %>
</div>			

	