<tr>
    <td bgcolor="#FFFFFF"><table width="99%" border="0" align="center" cellpadding="3" cellspacing="0">
      <tr >
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td height="20"><div align="center">
                <h1>LSSSA Password Request</h1>
            </div></td>
          </tr>
        </table>
          <table width="100%" border="0" cellspacing="0" cellpadding="5">
            <tr>
              <td align="center" bgcolor="#FFFFCC">
                <table width="100%" border="0" align="center" cellpadding="4" cellspacing="0" bgcolor="#FFFFFF">
                  <tr>
                  	<tr>
                    <td colspan="3" align="center">
                         <% flash.each do |key,value| %>
                         <div id="flash" class="flash_<%= key %>" >
                       <span class="message"><%= value %></span>                              </div>
         <% end -%>                    </td>
                    </tr>
                    <td width="49%" height="250" colspan="3" align="center">
                    	
					

Please provide your login password to attempt the exam<br/>
<%=form_tag :action=>'verify_password'%>
Password:<input type="password" name="re_password" /><br/>
<%=submit_tag 'Check My Password'%>
<%=form_tag%>	
						
						
						</td>
                  </tr>
                </table>
                </td>
              </tr>
          </table>
          </td>
      </tr>
    </table></td>
  </tr>




