<style>#shellleft a:link{	
	background-color:rgb(205, 237, 249);	
}
</style>
<div id="shellcontainer">
	<div id="shellleft">
		<div align="center"><a href="/admin/examtype/new" >Add New Exam Type</a></div><br/>	
		 <%if @examtypes.blank? %>
                <p>
                    Currently No Exam Types are available
                </p>
                <% else %>
		<table  height="54" cellspacing="2" cellpadding="2" align="center" width="700">
                <tr><td align="center" width="32%" style="background: rgb(57, 111, 175) none repeat scroll 0% 0%; color: rgb(251, 244, 49); -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial;" class="rtdetails">Exam Type</td>
                    <td align="center" width="32%" style="background: rgb(57, 111, 175) none repeat scroll 0% 0%; color: rgb(251, 244, 49); -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial;" class="rtdetails">Description</td>             
					<td align="center" width="32%" style="background: rgb(57, 111, 175) none repeat scroll 0% 0%; color: rgb(251, 244, 49); -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial;" class="rtdetails">Edit</td>
                </tr>	
				<% @examtypes.each do |e| %>	
				<tr>
					<td align="center" style="background: rgb(205, 237, 249) none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial;" class="mainscentry"><a href="/admin/examtype/show/<%=e.id%>"><%=e.examtype%></a></td>
					<td align="left" style="background: rgb(205, 237, 249) none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial;" class="mainscentry"><%=e.examtype_description%></td>					
					<td align="center" style="background: rgb(205, 237, 249) none repeat scroll 0% 0%; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial;" class="mainscentry"><a href="/admin/examtype/edit/<%=e.id%>">edit</a></td>
				</tr>
				<% end %><!--end of iteration -->
			</table>	
			<% end %><!--end of if else (empty) -->
		<br />
			</div>
			<!--Related Information -->
			<% admin_relavant_info @examtypes do |exam|%>
			<a href="/admin/examtype/show/<%=exam.id%>"><%=exam.examtype%></a><br/>
				<% end %>
</div>