<div id="shellcontainer">
	<div id="shellleft">
		<div align="right"><a href="/admin/examtype/edit/<%= @examtype.id %>"><b>Edit this Exam Type</b></a>|<a href="/admin/examtype/list"><b>Back</b></a></div><br>
		<table class="main_form" cellspacing="0" cellpadding="4" border="0" width="700">
				<tr><td colspan="2" align="center"><h3><font color="#993300">ExamType Information</font></h3></td></tr>				
				<tr><td align="right" valign="top" class="label"><strong><font color="#993300">Exam Type :</font></strong></td>				
					<td><%= @examtype.examtype%></td>
				</tr>				
				<tr><td align="right" valign="top" class="label"><strong><font color="#993300">ExamType Description :</font></strong></td>			
					<td><textarea  rows="3" cols="35" readonly="true" ><%= @examtype.examtype_description %></textarea></td>
			    </tr>							
				<tr><td align="right" valign="top" class="label"><strong><font color="#993300">Comments :</font></strong></td>			
					<td> <textarea  rows="3" cols="35" readonly="true" ><%= @examtype.comments %></textarea></td>		
			    </tr>
				<tr><td align="right" valign="top" class="label"><strong><font color="#993300">Created on :</font></strong></td>							
					<td><%=h @examtype.created_at.strftime("%d/%m/%Y at %I:%M%p") %></td>	
			    </tr>
				<tr><td align="right" valign="top" class="label"><strong><font color="#993300">Updated on :</font></strong></td>							
					<td><%=h @examtype.updated_at.strftime("%d/%m/%Y at %I:%M%p") %></td>	
			    </tr>
				<tr><td colspan="2">&nbsp;</td></tr>			
		</table><br>
		<br />
		</div>	
		<!--Related Information -->
			<% admin_relavant_info @examtypes do |etype|%>
			<a href="/admin/examtype/show/<%=etype.id%>"><%=etype.examtype%></a><br/>
				<% end %>			
</div>

